<h1>The Wallace Books Staff Recommends Page!</h1>

<form action="/employee" method="post">
  <label for="name">Employee Name</label>
  <input id="name" name="name" type="text">
  
  <button type="submit" class="btn btn-sm btn-primary">Add Employee</button>
</form>

<ul>
  <% @employees.each() do |employee| %>
    <li style="margin: 5px auto;">
      <%= employee.employee() %>
    </li>
  <% end %>
  
</ul>