<!DOCTYPE html>
<html>
  <head>
    <title>Wallace Books Staff Recommends</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <footer>
    <p style="margin: 20px auto;">Copyright James Maynard 2015</p>
  </footer>
</html>